repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^neural_network/
        #args: [--strict] # Example: Add mypy arguments like --strict