repos:
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^neural_network/
        args: [--strict]

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black